body {
    font-family: 'SVN-Gilroy', sans-serif;
    overflow-x: hidden;
    background: url("./static/admin.svg");
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95vh;
    padding-right: 2em;
}

.header {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
}

.header-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.header-right > a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    font-size: 1em;
    cursor: pointer;
    margin-bottom: 1em;
}

.main-content {
    margin-top: 2em;
    background-color: white;
    border-radius: 20px;
    height: 70vh;
    flex: 1;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section-title {
    font-size: 1.5em;
    margin-bottom: 1em;
    letter-spacing: 3px;
}

.inbox-section {
    margin-top: 2em;
    margin-left: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.inbox-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 50vh;
    overflow-y: scroll;
    padding: 1em;
    /* flex: 0.2; */
}

.user-section {
    display: flex;
    justify-content: space-between;
}

.user-img {
    object-fit: contain;
}

.user-name {
    margin-left: 1em;
    font-weight: 700;
    font-size: 1.5em;
}

.inbox-right {
    flex: 1;
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 50vh;
    border: 3px solid black;
    padding: 2em 4em;
    border-radius: 20px;
}

.inbox-right > p {
    font-size: 1.25em;
}

.reply-form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-input {
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 700;
    border: 0.5px solid gray;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04); 
}

.form-btn {
    background-color: #8FE3CF;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    cursor: pointer;
}

.inbox-left::-webkit-scrollbar {
    display: none;
}