<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Med.io</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <!-- bg img -->
    <img src="{{url_for('static', filename='home-bg.svg')}}" class="home-bg" alt="">
    <!-- Nav -->
    <div class="nav">
        <a href="" class="nav-logo">MED.IO</a>
        <div class="nav-links">
            <a href="" class="nav-link hvr-underline-from-left">Home</a>
            <a href="" class="nav-link hvr-underline-from-left">Virtuoso</a>
            <a href="" class="nav-link hvr-underline-from-left">Portal</a>
        </div>
    </div>
    <br>
    <br>
    <div class="testimonial">
        <img src="{{url_for('static', filename='t-img.png')}}" class="t-img" alt="">
        <p class="t-head">John Doe</p>
        <br>
        <br>
        <p class="t-txt">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dignissim eget molestie neque suscipit. Augue in risus eget porttitor et amet risus sit. A velit interdum bibendum dui ut. Rutrum dignissim ultrices eu diam ornare.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dignissim eget molestie neque suscipit. Augue in risu
        </p>
    </div>
    <div class="hero">
        <!-- <h1 class="">LOGO</h1> -->
        <p class="hero-abt">Millions Problems. 1000s of Services. 1 Solution</p>
        <a href=""><button class="main-btn">journey.exe</button></a>
    </div>
    <br>
    <br>
    <br>
    <div class="whyus">
        <center>
            <h1 class="wu-title">Why med.io tho</h1>
        </center>
        <center>
        <div class="wu-divs">
            <div class="wu-div">
                <center>
                    <img src="{{url_for('static', filename='rel.svg')}}" class="wu-img" alt="">
                    <h4 class="wu-title" style="margin-block-end: 0.7em">Reliable</h4>
                    <p class="wu-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dignissim eget molestie neque suscipit. Augue in risus eget porttitor et amet risus sit. A velit interdum bibendum dui ut. Rutrum dignissim u.
                    </p>
                </center>
            </div>
            <div class="wu-div">
                <center>
                    <img src="{{url_for('static', filename='rel.svg')}}" class="wu-img" alt="">
                    <h4 class="wu-title" style="margin-block-end: 0.7em">Reliable</h4>
                    <p class="wu-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dignissim eget molestie neque suscipit. Augue in risus eget porttitor et amet risus sit. A velit interdum bibendum dui ut. Rutrum dignissim u.
                    </p>
                </center>
            </div>
            <div class="wu-div">
                <center>
                    <img src="{{url_for('static', filename='rel.svg')}}" class="wu-img" alt="">
                    <h4 class="wu-title" style="margin-block-end: 0.7em">Reliable</h4>
                    <p class="wu-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dignissim eget molestie neque suscipit. Augue in risus eget porttitor et amet risus sit. A velit interdum bibendum dui ut. Rutrum dignissim u.
                    </p>
                </center>
            </div>
            <div class="wu-div">
                <center>
                    <img src="{{url_for('static', filename='rel.svg')}}" class="wu-img" alt="">
                    <h4 class="wu-title" style="margin-block-end: 0.7em">Reliable</h4>
                    <p class="wu-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dignissim eget molestie neque suscipit. Augue in risus eget porttitor et amet risus sit. A velit interdum bibendum dui ut. Rutrum dignissim u.
                    </p>
                </center>
            </div>
        </div>
        </center>
    </div>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="/static/main.js"></script>