<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Med.io - Virtuoso</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <!-- Nav -->
    <div class="nav" style="color: black;">
        <a href="" class="nav-logo">MED.IO</a>
        <div class="nav-links">
            <a href="" class="nav-link hvr-underline-from-left2">Home</a>
            <a href="" class="nav-link hvr-underline-from-left2">Virtuoso</a>
            <a href="" class="nav-link hvr-underline-from-left2">Portal</a>
        </div>
    </div>
    <br>
    <br>
    <div class="vo-hero">
        <h1 class="vo-title">VIRTUOSO</h1>
        <p class="vo-desc">a buddy, a knowledgebase</p>
        <a href="#" id="vo-run"><button  class="main-btn" style="margin-left: 0; font-family: monospace;">$ virtuoso run</button></a>
    </div>
    <img src="{{url_for('static', filename='mockup.png')}}" class="vo-mockup" alt="">
    <div class="vor-main">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <a href="#" id="vo-exit" style="margin-top: 3em;"><button  class="main-btn" style="margin-left: 0; font-family: monospace;">$ virtuoso end</button></a>
        <br>
        <br>
        <center>
            <h1 class="vo-title">VIRTUOSO</h1><br>
            <input type="text" list="li" class="dash-input" style="width: 70%; border-radius:4em;" placeholder="Search for topics..">
            <datalist id="li" style="width: 100%;">
                <option>SheeshSheesh</option>
                <option>Sheesh</option>
                <option>Sheesh</option>
                <option>Sheesh</option>
                <option>Sheesh</option>
                <option>Sheesh</option>
                <option>Sheesh</option>
            </datalist>
        </center>
        <br>
        <br>
        <center>
        <div class="vo-div">
            <p class="vo-divtxt">Lorem Ipsum Sit Dolor Amet</p>
            <a href="" class="vo-divrm">Read More..</a>
        </div>
        <div class="vo-div">
            <p class="vo-divtxt">Lorem Ipsum Sit Dolor Amet</p>
            <a href="" class="vo-divrm">Read More..</a>
        </div>
        <div class="vo-div">
            <p class="vo-divtxt">Lorem Ipsum Sit Dolor Amet</p>
            <a href="" class="vo-divrm">Read More..</a>
        </div>
        <div class="vo-div">
            <p class="vo-divtxt">Lorem Ipsum Sit Dolor Amet</p>
            <a href="" class="vo-divrm">Read More..</a>
        </div>
        <div class="vo-div">
            <p class="vo-divtxt">Lorem Ipsum Sit Dolor Amet</p>
            <a href="" class="vo-divrm">Read More..</a>
        </div>
    </div>
    </body>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="/static/main.js"></script>